/* General styles */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.admin-container {
  height: 100vh;
  padding-top: 20%;
  background: linear-gradient(135deg, #3a5b22, #101d42);
  /* Gradient background */
}


.admin-form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-header h1 {
  font-size: 2rem;
  color: #101d42;
  margin: 0;
}

.form-label {
  font-weight: bold;
  color: #333;
}

input.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

input.form-control:focus {
  border-color: #3b4cca;
  box-shadow: 0 0 4px rgba(59, 76, 202, 0.5);
  outline: none;
}

.error {
  color: #ff4d4d;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.btn-login {
  width: 65%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #0D6EFD;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5%;
}

.btn-login:hover {
  background-color: #101d42;
}


.btn-back {
  justify-content: center;
  width: 30%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #314D29;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: #2e3c99;

}

.Logout-button {
  background-color: #DC3545;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}